# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Backend Data
backend/data/
backend/*.wav

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local
frontend/dist/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific
test_load.py
