name: Sync to Hugging Face Hub
on:
  push:
    branches: [master]
  force_event:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true
      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: git push --force https://sergeyvbo:$HF_TOKEN@huggingface.co/spaces/sergeyvbo/phonem master